{% extends "padre.html "%}
{% load static %}

{% block contenido %}
    <head>
        <link rel="icon" type="image/x-icon" href="App1/assets/favicon.ico">
    </head>
            <header class="masthead">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                                <h1 class="mb-5">Bienvenidos a una pagina ABM</h1>
                            </div>
                        </div>
                    </div>
                </div>  
            </header>


    <h2>{{mensaje}}</h2>
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-5">
                    <div class="card">
                        <img src="{% static '/App1/assets/img/testimonials-2.jpg' %}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{usuario}}</h5>
                            <p class="card-text">Me gusto mucho el curso</p>
                            <a href="" class="btn btn-danger">LogOut</a>
                            <a href="{% url 'usuario_editar' %}" class="btn btn-danger">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}